# Запускной Jar и библиотеки
server.jar
libraries/

# Логи и кеш
logs/
*.log
usercache.json

# Плагины/моды (если будете бэкапить отдельно)
plugins/
mods/

# Системные файлы
*.pid

# Другие временные файлы
*.tmp
start.sh
