[Unit]
Description=Minecraft Server 1.21.5
After=network.target

[Service]
User=mcserver
Group=mcserver
WorkingDirectory=/opt/minecraft
Restart=on-failure
ExecStart=/bin/bash /opt/minecraft/run.sh

[Install]
WantedBy=multi-user.target
